/* ----- DESKTOP VER. START (STANDARD) ----- */
:root{
  --main-color01:#ee5050;
  --main-color02:#0948b3;
  font-family:'Noto Sans KR',sans-serif;
  font-weight:500;
  font-size:16px;
  color:#000;
  line-height:1.2;
  background:var(--main-color02);
  scroll-behavior:smooth;
}
.container{
  max-width:1280px;
  margin:0 auto;
  padding:100px;
  z-index:2;
}
#wrap{
  position:relative;
  overflow:hidden;
}
h1,h2,h3,h4,h5,h6{display:none;}

/* SKIP MENU */
#skip-menu a{
  position:fixed;
  left:50%;
  top:0;
  z-index:2000;
  transform:translate(-50%,-150%);
  padding:10px;
  background:#fff;
  font-size:25px;
  color:#000;
}
#skip-menu a:focus{
  transform:translate(-50%,0);
}

/* FULL PAGE */
.sec{
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
}
.sec .container{
  width:100%;
}

/* SCROLLBAR STYLE */
body{
  overflow-y:overlay;
}
::-webkit-scrollbar{
  width:14px;
  height:14px;
}
::-webkit-scrollbar-thumb{
  outline:none;
  border:4px solid transparent;
  box-shadow:inset 6px 6px 0 #fff;
}
::-webkit-scrollbar-thumb:hover{
  box-shadow:inset 6px 6px 0 var(--main-color01);
}
::-webkit-scrollbar-track{
  box-shadow:none;
  background-color:transparent;
}
.banner::-webkit-scrollbar{
  display:none;
}

/* MAIN NAV ( MOBILE O / DESKTOP & TABLET X ) */
.main-nav{
  display:none;
  padding:5px 10px;
  background:#fff;
  position:fixed;
  left:0;
  right:0;
  bottom:0;
  z-index:9999999999;
}
.main-nav ul{
  display:flex;
  justify-content:space-around;
  align-items: center;
}
.main-nav li{
  width:auto;
  height:auto;
  margin:0;
  border:none;
  border-radius: 0;
  padding:0;
}
.main-nav a{
  display: inline-block;
  width:25px;
  height:25px;
}
.main-nav a span{
  display:inline-block;
  text-indent:-9999999999px;
}
.main-nav a .img-box{
  display:inline-block;
  width:100%;
  height:100%;
}
.main-nav svg{
  fill:#000;
  transform:translateY(-10px);
}
.main-nav li:hover svg,.main-nav li:active svg{
  fill:var(--main-color01);
}

/* NAV */
nav ul{
  display:grid;
  grid-template-columns:repeat(4,auto);
  width:501px;
  height:50px;
  text-align:center;
  text-transform:uppercase;
}
nav li{
  padding:0 5.3475935829%;
  padding-top:13px;
  font-family:'Roboto';
  font-size:20px;
  border:1px solid #555;
  background:#fff;
  border-top-left-radius:10px;
  border-top-right-radius:10px;
  z-index:5;
  cursor:pointer;
}
nav li:hover{
  color:var(--main-color01);
  transition:0.2s;
}
nav li.active{
  border-bottom:none;
  background:var(--main-color01);
  font-weight:700;
  color:#fff;
  z-index:10;
}

/* GRAY LINE */
.sec01 .intro-txt,.sec02 .about-txt,.sec03 .publishing-a,.sec04 .publishing-b,.sec05 .publishing-c,.sec06 .art-design{
  border-radius:10px;
  border-top:20px solid #555;
  transform:translateY(-20px);
}

/* MOVING-MOUSE & SCROLL DOWN */
.sec06 .moving-mouse{
  display:none;
}
.sec03 .moving-mouse,.sec04 .moving-mouse,.sec06 .moving-mouse{
  position:relative;
}
.sec03 .mouse,.sec04 .mouse,.sec06 .mouse{
  width:15px;
  height:22px;
  border-radius:10px;
  border:2px solid #fff;
  position:absolute;
  left:50%;
  transform:translateX(-50%);
  animation-name:moving-mouse;
  animation-duration:1.5s;
  animation-iteration-count:infinite;
}
.sec03 .mouse::after,.sec04 .mouse::after,.sec06 .mouse::after{
  content:'';
  display:block;
  width:2px;
  height:5px;
  background:#fff;
  position:absolute;
  left:50%;
  top:3px;
  transform:translateX(-50%);
}
.sec03 .moving-mouse span,.sec04 .moving-mouse span,.sec06 .moving-mouse span{
  display:flex;
  justify-content:center;
  align-items:center;
  font-size:14px;
  text-align:center;
  text-transform:uppercase;
  color:#fff;
  transform:translateY(33px);
  animation-name:main-color01;
  animation-duration:1.5s;
  animation-iteration-count:infinite;
}

/* SEC 01 INTRO */
.sec01{
  font-family:'Roboto';
}
.sec01 .container{
  padding:0 30px;
}
.sec01 .intro-txt{
  /* padding:100px 114px; */
  padding:100px 9.344262295081967%;
  text-align:center;
  text-transform:uppercase;
  background:#fff;
}
.sec01 .top-txt{
  margin:0 130px;
  padding:7px 0;
  font-weight:700;
  font-size:16px;
  border:3px solid var(--main-color02);
  border-radius:20px;
  color:var(--main-color02);
}
.sec01 .top-txt:hover{
  background:var(--main-color02);
  color:#fff;
  transition:0.1s;
}
.sec01 .main-tit01{
  margin-top:70px;
  font-weight:700;
  font-size:80px;
  text-align:center;
}
.sec01 .main-tit02{
  font-weight:900;
  font-size:130px;
  margin:90px auto;
  margin-top:0;
}
  /* - KEYWORD EVENT START - */
  .sec01 .keyword{
    display:none;
  }
  .sec01 .keyword:nth-child(1){
    color:var(--main-color01);
    text-shadow:2px 2px #000;
  }
  .sec01 .keyword:nth-child(1),.sec01 .keyword.active{
    display:inline-block;
  }
  /* - KEYWORD EVENT END - */
.sec01 .bottom-txt{
  display:grid;
  grid-template-columns:repeat(3,1fr);
  color:var(--main-color02);
  position:relative;
}
.sec01 .bottom-txt li:nth-child(1)::after,.sec01 .bottom-txt li:nth-child(2)::after,
.sec01 .m-bottom-txt li:nth-child(1):after{
  content:'';
  display:inline-block;
  position:absolute;
  left:37%;
  top:50%;
  transform:translate(-37%,-50%);
  width:20px;
  height:1px;
  background:var(--main-color02);
}
.sec01 .bottom-txt li:nth-child(2)::after{
  left:67%;
  transform:translate(-67%,-50%);
}
.sec01 .m-bottom-txt{
  display:none;
  font-size:11px;
  color:var(--main-color02);
}
.sec01 .m-bottom-txt li:nth-child(1):after{
  display:none;
  left:50%;
  top:50%;
  transform:translate(-50%,-50%);
}

/* SEC02 ABOUT */
.sec02{
  position:relative;
}
.sec02 .container{
  padding:0 30px;
}
.sec02 .about-txt{
  display:grid;
  /* grid-template-columns:1fr auto auto; */
  grid-template-columns:36.7741935483871% 36.7741935483871% 1fr;
  /* padding:135px 114px; */
  padding:135px 9.344262295081967%;
  background:#fff;
  line-height:2;
  gap:4em;
}
.sec02 .img-box{
  display:flex;
  justify-content:flex-start;
  align-items:center;
  grid-area:1/1/3/2;
  width:300px;
}
.sec02 .education{
  grid-area:2/2/3/4;
}
.sec02 .main-list-tit{
  width:158px;
  margin-bottom:24px;
  font-family:'Roboto';
  font-weight:700;
  text-align:center;
  text-transform:uppercase;
  border:2px solid var(--main-color02);
  border-radius:30px;
  color:var(--main-color02);
}
.sec02 .main-list-tit:hover{
  background:var(--main-color02);
  color:#fff;
  transition:0.1s;
}
.sec02 .about-txt li{
  display:grid;
  grid-template-columns:auto auto;
  justify-content:start;
  gap:24px;
}
.sec02 .list-tit{
  font-family:'Roboto';
  text-transform:uppercase;
}
.sec02 .list-txt{
  transform:translateY(-2px);
}
.sec02 .edu-n-cer{
  display:none;
}

/* SEC03 PUBLISHING01 & SEC04 PUBLISHING02 & SEC05 PUBLISHING03 */
.sec03 .container,.sec04 .container,.sec05 .container{
  padding:0 30px;
  position:relative;
}
.sec03 .grid-container,.sec04 .grid-container,.sec05 .grid-container{
  display:grid;
  grid-template-columns:2fr 1fr;
  justify-content:start;
  align-items:center;
  padding:50px 4.0983606557%;
  gap:5%;
}
.sec03 .publishing-a,.sec04 .publishing-b,.sec05 .publishing-c{
  background:#fff;
}
.sec03 h4,.sec04 h4,.sec05 h4{
  display:block;
  padding:7px 40px;
  font-weight:700;
  text-align:center;
  border:2px solid var(--main-color02);
  border-radius:30px;
  color:var(--main-color02);
  position:relative;
}
.sec03 h4:hover,.sec04 h4:hover,.sec05 h4:hover{
  background:var(--main-color02);
  color:#fff;
  transition:0.1s;
}
.sec03 .explanation,.sec04 .explanation,.sec05 .explanation{
  display:flex;
  flex-flow:column nowrap;
  justify-content:center;
  align-items:center;
}
.sec03 .summary,.sec04 .summary,.sec05 .summary{
  margin-top:36px;
  margin-bottom:100px;
  text-align:center;
  line-height:2;
  position:relative;
}
.sec03 .summary::after,.sec04 .summary::after,.sec05 .summary::after{
  content:'';
  display:block;
  width:50px;
  height:1px;
  background:var(--main-color02);
  position:absolute;
  left:50%;
  top:150%;
  transform:translateX(-50%);
}
  /* - BUTTON STYLE START - */
  .btn{
    color:#fff;
    border-radius:5px;
    font-family:'Roboto',sans-serif;
    font-size:14px;
    text-transform:uppercase;
    background:transparent;
    cursor:pointer;
    transition:all 0.3s ease;
    display:inline-block;
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
    7px 7px 20px 0px rgba(0,0,0,.1),
    4px 4px 5px 0px rgba(0,0,0,.1);
    outline:none;
    position:relative;
    bottom:20px;
    border:none;
    box-shadow:none;
    width:130px;
    height:40px;
    line-height:40px;
    -webkit-perspective:230px;
    perspective:230px;
  }
  .btn span{
    /* background:rgb(0,172,238); */
    background:var(--main-color01);
    /* background:linear-gradient(0deg, rgba(0,172,238,1) 0%, rgba(2,126,251,1) 100%); */
    background:linear-gradient(0deg,var(--main-color01),rgb(238,50,50) 100%);
    display:block;
    position:absolute;
    width:130px;
    height:40px;
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,0.5),
    7px 7px 20px 0px rgba(0,0,0,0.1),
    4px 4px 5px 0px rgba(0,0,0,0.1);
    border-radius:5px;
    margin:0;
    text-align:center;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-transition:all .3s;
    transition:all .3s;
  }
  .btn span:nth-child(1){
    box-shadow:
    -7px -7px 20px 0px #fff9,
    -4px -4px 5px 0px #fff9,
    7px 7px 20px 0px #0002,
    4px 4px 5px 0px #0001;
    -webkit-transform:rotateX(90deg);
    -moz-transform:rotateX(90deg);
    transform:rotateX(90deg);
    -webkit-transform-origin:50% 50% -20px;
    -moz-transform-origin:50% 50% -20px;
    transform-origin:50% 50% -20px;
  }
  .btn span:nth-child(2){
    -webkit-transform:rotateX(0deg);
    -moz-transform:rotateX(0deg);
    transform:rotateX(0deg);
    -webkit-transform-origin:50% 50% -20px;
    -moz-transform-origin:50% 50% -20px;
    transform-origin:50% 50% -20px;
  }
  .btn:hover span:nth-child(1){
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,2550,0.5),
    7px 7px 20px 0px rgba(0,0,0,0.1),
    4px 4px 5px 0px rgba(0,0,0,0.1);
    -webkit-transform:rotateX(0deg);
    -moz-transform:rotateX(0deg);
    transform:rotateX(0deg);
  }
  .btn:hover span:nth-child(2){
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,0.5),
    7px 7px 20px 0px rgba(0,0,0,0.1),
    4px 4px 5px 0px rgba(0,0,0,0.1);
    color: transparent;
    -webkit-transform:rotateX(-90deg);
    -moz-transform:rotateX(-90deg);
    transform:rotateX(-90deg);
  }
  /* - BUTTON STYLE END - */

/* sec06 graphicS01 */
.sec06 .container{
  padding:0 30px;
}
.sec06 .art-design{
  /* padding:50px; */
  padding:8.9707254985%;
  background:#fff;
}
.sec06 .grid-container{
  display:grid;
  grid-template-columns:35.8571427571% 35.8571427571% 1fr;
  justify-content:center;
  align-items:center;
  gap:20px;
}
.sec06 .poster01{
  grid-area:1/1/3/2;
}
.sec06 .poster02{
  grid-area:1/2/3/3;
}

/* sec07 graphicS02 ( TABLET & MOBILE O / DESKTOP X ) */
.sec07{
  display:none;
}
.sec07 .container{
  padding:0 30px;
}
.sec07 .art-design{
  padding:16.9707254985% 4.0983606557%;
  background:#fff;
  border-radius:10px;
  border-top:20px solid #555;
  transform:translateY(-20px);
}
.sec07 .grid-container{
  display:grid;
  grid-template-columns:repeat(2,auto);
  justify-content:center;
  gap:2em;
}
.sec07 .cardnews{
  width:273px;
  height:273px;
}

/* sec06 graphicS01 & sec07 graphicS02 */
.sec06 img,.sec07 img{
  border:0.1px solid #555;
}
.sec06 img:hover,.sec07 img:hover{
  border:10px solid var(--main-color01);
  cursor:pointer;
  transition:0.3s;
}

#footer{display:none;}
/* ----- DESKTOP VER. END (STANDARD) ----- */

/* ---------- MEDIA QUERY START ---------- */
@media (max-width:1180px) {
  /* SEC 01 INTRO */
  .sec01 .keyword{
    font-size:115px;
  }
}
@media (max-width:1148px) {
  /* SEC02 ABOUT */
  .sec02 .about-txt{
    grid-template-columns:34.774194% 33.774194% 1fr;
  }
}
@media (max-width:1134px) {
  /* SEC03 PUBLISHING01 & SEC04 PUBLISHING02 & SEC05 PUBLISHING03 */
  .sec03 .summary::after,.sec04 .summary::after,.sec05 .summary::after{
    top:150%;
  }
}
@media (max-width:1060px) {
  /* SEC02 INTRO */
  .sec01 .keyword{
    font-size:100px;
  }
  /* SEC02 ABOUT */
  .sec02 .about-txt{
    grid-template-columns:36.774194% 30.774194% 1fr;
  }
  .sec02 .img-box{
    width:96%;
  }
}
@media (max-width:1051px) {
  /* SEC03 PUBLISHING01 & SEC04 PUBLISHING02 & SEC05 PUBLISHING03 */
  .sec03 .summary::after,.sec04 .summary::after,.sec05 .summary::after{
    top:140%;
  }
}
@media (max-width:960px) {
  /* SEC02 ABOUT */
  .sec02 .about-txt{
    grid-template-columns:34.774194% 27.774194% 1fr;
  }
  .sec02 .img-box{
    width:94%;
  }
}
@media (max-width:921px) {
  /* SEC 01 INTRO */
  .sec01 .main-tit01{
    font-size:70px;
  }
  .sec01 .keyword{
    font-size:82px;
  }
}
@media (max-width:900px) {
  /* SEC02 ABOUT */
  .sec02 .about-txt{
    grid-template-columns:32.774194% 23.774194% 1fr;
  }
  .sec02 .about-txt span{
    display:block;
  }
  .sec02 .img-box{
    width:92%;
  }
}

  /* ----- TABLET VER. START ----- */
  @media (max-width:768px) {
    :root{
      font-size:14px;
    }
    .container{
      padding:50px;
    }

    /* NAV */
    nav ul{
      width:424px;
      height:40px;
    }
    nav li{
      padding-top:10px;
      font-size:16px;
    }

    /* GRAY LINE */
    .sec01 .intro-txt,.sec02 .about-txt,.sec03 .publishing-a,.sec04 .publishing-b,.sec06 .art-design{
      border-radius:8px;
      border-top:16px solid #555;
      transform:translateY(-16px);
    }

    /* MOVING-MOUSE & SCROLL DOWN */
    .sec06 .moving-mouse{
      display:block;
    }
    .sec03 .moving-mouse span,.sec04 .moving-mouse span,.sec06 .moving-mouse span{
      font-size:12px;
    }

    /* SEC01 INTRO */
    .sec01 .intro-txt{
      padding:50px;
    }
    .sec01 .top-txt{
      /* margin:0 130px; */
      margin:0 14.9769585253%;
      font-size:14px;
      border:2px solid var(--main-color02);
    }
    .sec01 .main-tit01{
      margin-top:50px;
      font-size:60px;
    }
    .sec01 .main-tit02{
      font-size:110px;
      margin-bottom:71px;
    }

    /* SEC02 ABOUT */
    .sec02 .about-txt{
      grid-template-columns:35.03875968992248% 35.03875968992248% 1fr;
      padding:80px 4.451038575667656%;
      gap:1.5em;
    }
    .sec02 .img-box{
      width:180px;
    }
    .sec02 .main-list-tit{
      width:133px;
      margin-bottom:20px;
      border-radius:16px;
    }

    /* SEC03 PUBLISHING01 & SEC04 PUBLISHING02 & SEC05 PUBLISHING03 */
    .sec03 .summary::after,.sec04 .summary::after,.sec05 .summary::after{
      width:35px;
      top:140%;
    }
    .btn{
      font-size:12px;
      transform:scale(0.7);
    }

    /* sec06 graphicS01 */
    .sec06 .grid-container{
      display:grid;
      grid-template-columns:repeat(2,auto);
      justify-content:center;
    }
    .sec06 .d-img-box{
      display:none;
    }

    /* sec07 graphicS02 */
    .sec07{
      display:flex;
    }

    /* sec06 graphicS01 & sec07 graphicS02 */
    .sec06 img:hover,.sec07 img:hover{
      border:7px solid var(--main-color01);
    }

    /* BANNER EVENT */
    .banner{
      max-height:700px;
    }
    .banner-txt{
      font-size:14px;
    }
  }
  /* ----- TABLET VER. END ----- */

@media (max-width:735px) {
  /* SEC 01 INTRO */
  .sec01 .main-tit01{
    font-size:50px;
  }
  .sec01 .keyword{
    font-size:70px;
  }
}
@media (max-width:650px) {
  /* SEC 01 INTRO */
  .sec01 .main-tit01{
    font-size:40px;
  }
  .sec01 .keyword{
    font-size:70px;
  }
}
@media (max-width:640px) {
  /* SEC02 ABOUT */
  .sec02 .about-txt {
    grid-template-columns:36.774194% 30.774194% 1fr;
  }
}
@media (max-width:600px) {
  /* SEC01 INTRO */
  .sec01 .standard-bottom-txt{
    display:flex;
    flex-flow:column nowrap;
    text-align:center;
  }
  .sec01 .standard-bottom-txt01{
    text-align:left;
  }
  .sec01 .standard-bottom-txt03{
    text-align:right;
  }
  .sec01 .main-tit02{
    font-size:90px;
  }

  /* SEC02 ABOUT */
  .sec02 .about-txt{
    grid-template-columns:1.4fr 1fr;
    align-items:center;
    padding:60px 7.4074074074%;
    gap:10px;
  }
  .sec02 .about-txt li{
    gap:21px;
  }
  .sec02 .img-box{
    grid-area:1/1/2/2;
    width:80%;
    min-width:120px;
  }
  .sec02 .main-list-tit{
    margin-bottom:20px;
  }
  .sec02 .profil p{
    width:118px;
  }
  .sec02 .certificate{
    display:none;
  }
  .sec02 .education{
    display:none;
  }
  .sec02 .edu-n-cer p{
    width:75%;
    margin:25px auto;
  }
  .sec02 .edu-n-cer{
    display:block;
    grid-area:2/1/3/3;
  }
}
@media (max-width:515px) {
  /* SEC 01 INTRO */
  .sec01 .main-tit01{
    font-size:30px;
  }
  .sec01 .keyword{
    font-size:55px;
  }
}

  /* ----- MOBILE VER. START ----- */
  @media (max-width:484px) {
    :root{
      font-size:10px;
    }
    .container{
      min-width:320px;
    }

    /* MAIN NAV */
    .main-nav{
      display:block;
    }

    /* NAV */
    nav ul{
      width:100%;
      height:30px;
      min-width:260px;
    }
    nav li{
      padding-top:8px;
      font-size:12px;
    }
    .sec-nav li{
      display:none;
    }
    .sec-nav li.active{
      display:block;
    }

    /* GRAY LINE */
    .sec01 .intro-txt,.sec02 .about-txt,.sec03 .publishing-a,.sec04 .publishing-b,.sec05 .publishing-c,.sec06 .art-design,.sec07 .art-design{
      padding:60px 20px;
      border-top:8px solid #555;
      border-radius:4px;
      transform:translateY(-8px);
    }

    /* MOVING-MOUSE & SCROLL DOWN */
    .sec03 .moving-mouse span,.sec04 .moving-mouse span,.sec06 .moving-mouse span{
      font-size:8px;
    }

    /* SEC01 INTRO */
    .sec01 .intro-txt{
      padding:121px 20px;
    }
    .sec01 .top-txt{
      font-size:11px;
      border:1px solid var(--main-color02);
      margin:0 20px;
      padding:4px 0;
    }
    .sec01 .main-tit01{
      margin-top:30px;
      font-size:30px;
    }
    .sec01 .main-tit02{
      margin-bottom:30px;
      font-size:50px;
      position:relative;
    }
    .sec01 .bottom-txt{
      display:flex;
      flex-flow:row nowrap;
      justify-content:space-between;
    }
    .sec01 .standard-bottom-txt{
      display:none;
    }
    .sec01 .m-bottom-txt{
      display:block;
    }
    .sec01 .bottom-txt li:nth-child(4)::after{
      content:'';
      display:block;
      width:20px;
      height:1px;
      background:var(--main-color02);
      position:absolute;
      left:50%;
      top:50%;
      transform:translate(-50%,-50%);
    }

    /* SEC02 ABOUT */
    .sec02 .about-txt{
      padding:24% 20px;
      align-items:center;
      gap:10px;
    }
    .sec02 .about-txt li{
      gap:10%;
    }
    .sec02 .img-box{
      grid-area:1/1/2/2;
      width:90%;
    }
    .sec02 .main-list-tit{
      width:90%;
      font-size:11px;
      border:1px solid var(--main-color02);
      margin-bottom:20px;
    }
    .sec02 .certificate{
      display:none;
    }
    .sec02 .education{
      display:none;
    }
    .sec02 .edu-n-cer p{
      width:178px;
      margin:25px auto;
    }
    .sec02 .edu-n-cer{
      display:block;
      grid-area:2/1/3/3;
    }

    /* SEC03 PUBLISHING01 & SEC04 PUBLISHING02 & SEC05 PUBLISHING03 */
    .sec03 .grid-container,.sec04 .grid-container,.sec05 .grid-container{
      grid-template-columns:1fr;
      row-gap:30px;
    }
    .sec03 .publishing-a,.sec04 .publishing-b,.sec05 .publishing-b{
      padding:0 20px;
    }
    .sec03 h4,.sec04 h4,.sec05 h4{
      padding:5px 31px;
      font-size:11px;
      border:1px solid var(--main-color02);
    }
    .sec03 .summary,.sec04 .summary,.sec05 .summary{
      margin-top:20px;
      margin-bottom:50px;
    }
    .sec03 .summary::after,.sec04 .summary::after,.sec05 .summary::after{
      width:20px;
      top:160%;
    }
    /* .btn{
      transform:scale(0.4);
    } */

    /* sec06 graphicS01 */
    .sec06 .art-design{
      padding:121px 20px;
    }

    /* sec07 graphicS02 */
    .sec07 .art-design{
      padding:138.5px 20px;
    }

    /* sec06 graphicS01 & sec07 graphicS02 */
    .sec06 img:hover,.sec07 img:hover{
      border:4px solid var(--main-color01);
    }

    /* BANNER EVENT */
    .banner{
      max-height:420px;
    }
    .banner-txt span{
      font-size:12px;
    }
  }
  /* ----- MOBILE VER. END ----- */

@media (max-width:457px) {
  /* SEC03 PUBLISHING01 & SEC04 PUBLISHING02 & SEC05 PUBLISHING03 */
  .sec03 .summary::after,.sec04 .summary::after,.sec05 .summary::after{
    top:140%;
  }
}
@media (max-width:430px) {
  /* SEC 01 INTRO */
  .sec01 .main-tit01{
    font-size:20px;
  }
  .sec01 .keyword{
    font-size:45px;
  }
}
@media (max-width:370px) {
  /* SEC 01 INTRO */
  .sec01 .keyword{
    font-size:38px;
  }
  .sec01 .m-bottom-txt span{
    display:block;
  }
  .sec01 .m-bottom-txt01{
    text-align:left;
  }
  .sec01 .m-bottom-txt02{
    text-align:right;
  }
}
/* ---------- MEDIA QUERY END ---------- */


/* ANIMATION */
@keyframes moving-mouse{
  0%{top:0;}
  50%{top:5px;}
  100%{top:0;}
}
@keyframes main-color01{
  0%{color:#fff;}
  50%{color:var(--main-color01);}
  100%{color:#fff;}
}

/* SCROLL EVENT */
.sec01 .container{
  transition:0.5s 0.5s !important;
}
.sec .container{
  transform:translateX(200%);
  transition:0.5s;
}
.sec:nth-child(2n) .container{
  transform:translateX(-200%);
}
.sec.active .container{
  transform:translateX(0);
}

/* BANNER EVENT */
.banner-wrap{
  position:fixed;
  left:0;
  right:0;
  top:0;
  bottom:0;
  z-index:9999999999;
  background:rgba(0,0,0,0.8);
  display:flex;      
  justify-content:center;
  align-items:center;
  display:none;
}
.banner{
  width:80%;
  max-width:800px;
  min-width:250px;
  height:80%;
  background:#fff;
  overflow-y:overlay;
  display:none;
}
.banner-txt{
  display:flex;
  justify-content:center;
  align-items:center;
  padding:3% 0;
  font-weight:700;
  font-size:20px;
  text-align:center;
}
.banner-txt span:hover{
  color:var(--main-color01);
  cursor:pointer;
  transition:0.2s;
}
.btn-banner-close{
  position:absolute;
  right:1em;
  top:1em;
  cursor:pointer;
}
.btn-banner-close .img-box{
  width:1.5em;
}
.btn-banner-close svg{
  fill:#fff;
}
